# Ignore everything
*

# Except our stuff
!themes/
!themes/twentytwentyfive-child/
!themes/twentytwentyfive-child/**

!plugins/
!plugins/custom-blocks-for-be-bite-smart/ 
!plugins/custom-blocks-for-be-bite-smart/**
# ← re-ignore the node_modules though
plugins/custom-blocks-for-be-bite-smart/node_modules/  
# re-ignore node_modules
themes/twentytwentyfive-child/node_modules/  
!.github/
!.github/workflows/
!.github/workflows/**

!package.json
!pnpm-lock.yaml

!CHANGES.md
!TESTING.md
!testing.md


!playwright.config.js

!tests/
!tests/**

!README.md

!.gitignore
!.gitattributes

!readme-images/
!readme-images/**

!server-scripts/
!server-scripts/**

